<form>
	<span id='statsBack'></span>
	
	<label for="charName">Name: </label>
	<input type="text" id="charName" name="charName" alt="Enter the character name"/>
	
	<label for="charRace">Race: </label>
	<input type="text" id="charRace" name="charRace" alt="Enter your race"/>
	
	<label for="charClass">Class: </label>
	<input type="text" id="charClass" name="charClass" alt="Enter your class"/>
	
	<label for="charName">Name: </label>
	<input type="text" id="charName" name="charName" alt="Enter the character name"/>
	
	<label for="charRace">Race: </label>
	<input type="text" id="charRace" name="charRace" alt="Enter your race"/>
	
	<label for="charClass">Class: </label>
	<input type="text" id="charClass" name="charClass" alt="Enter your class"/><label for="charName">Name: </label>
	<input type="text" id="charName" name="charName" alt="Enter the character name"/>
	
	<label for="charRace">Race: </label>
	<input type="text" id="charRace" name="charRace" alt="Enter your race"/>
	
	<label for="charClass">Class: </label>
	<input type="text" id="charClass" name="charClass" alt="Enter your class"/>
</form>