body {
	font:12px arial;
	color: #222;
	text-align:center;
	padding:35px;
	background-image:url("images/bg.png");
}
 
form, p, span {
	margin:0;
	padding:0; 
}
 
input { font:12px arial; }
 
a {
	color:#0000FF;
	text-decoration:none; 
}
 
a:hover { text-decoration:underline; }
 
#wrapper, #loginform {
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:504px;
	border:1px solid #ACD8F0;
	background-image:url("images/chatBG.png");}
 
#loginform { padding-top:18px; }
 
#loginform p { margin: 5px; }
 
#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:430px;
	border:1px solid #ACD8F0;
	overflow:auto;}
 
#usermsg {
	width:395px;
	border:1px solid #ACD8F0; }
 
#submit { width: 60px; }

#iEError {
	background-color:#FF0000;
	color: #FF0;
	margin-top: 5px;
	margin-bottom: 5px;
}
 #menu { padding:12.5px 25px 12.5px 25px; }
 
 #charSheets { 	
	float:right;
 	position:fixed;
	bottom: 0px;
	left:15px;
/* 	min-height: 40px;  */
 	min-width:400px;
 	background-color: #ccc;
 	font-weight:bolder;
 	font-family:Arial, Helvetica, sans-serif;
 	
	box-shadow:inset 0 0 5px #888;
	-moz-box-shadow:inset 0 0 5px #888;

 }
 
 #showButton{
 	cursor:pointer;
 }
 #charList{
 	display:inline-block;
 	margin-left: auto;
 	margin-right:auto;
 	max-width: 400px;
 }
 #charStats{
 	float:right;
 	max-width:400px;
 }
 
.error { color: #ff0000; }
 
.welcome { float:left; }
 
.menuLink { float:right;
			clear:right;}
 
.msgln { margin:0 0 2px 0; }

.restoreEntry { 
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	width:20em;
	text-align:center;
	color: #FFF;
	cursor:pointer;
	background-color: rgba(0,0,0,0.2);
	
	box-shadow:inset 0 0 10px #888;
	-moz-box-shadow:inset 0 0 10px #888;
}
.characterSheetLink {
	margin-bottom:2px;
	font-weight:normal;
	cursor:pointer;
}

.textInput{
	box-shadow:inset 0 0 5px #BBB;
	-moz-box-shadow:inset 0 0 5px #BBB;
	padding-left:0.5em;
}
 